@{
    this.ViewData[GlobalConstants.Title] = "Общи условия";
}
<p>Общи условия</p>
<p>Всички доставки се извършват с куриерска фирма Еконт или Спиди по избор до офис или до адрес като при доставка до
    офис ще получите съобщение на посочен телефон за връзка, а до адрес куриерът ще се обади преди доставката.</p>
<p>Цените на доставката при плащане с наложен платеж се определят в зависимост от стойността на наложения платеж,
    теглото на пратката  и населеното място .</p>
<p>Продуктите ни се изработват индивидуално за всеки клиент и замени не могат да се правят. Пратките се изпращат с
    „преглед преди заплащане“ и рекламации не се приемат след получаване на пратката от куриер или офис на Спиди или
    Еконт. Повече информация ще откриете в настоящите общи условия. В случай че не сте съгласни с тях, молим да не
    използвате услугите на уеб сайта www.podaracitebg.com . </p>
<p>Настоящите ОБЩИ УСЛОВИЯ уреждат взаимоотношенията между "Алекс Дизайн“ ЕООД, наричано по-долу "podaracitebg.com”, от
    една страна, и Потребителите на интернет страници и услуги, намиращи се на домейн www.podaracitebg.com (наричани
    по-долу Потребители), от друга.</p>
<p>""Алекс Дизайн" ЕООД е дружество, регистрирано по Търговския закон на Република България с ЕИК 206530413, със
    седалище и адрес на управление: гр. Пловдив, ул.Победа 64 имейл адрес: podaracitebg@gmail.com</p>
<p>Моля, прочетете изцяло публикуваните Общи условия преди да използвате информационните и търговски услуги, предлагани
    от сайта https://podaracitebg.com (наричани за краткост Услуги). С визуализирането на https://podaracitebg.com/
    всеки Потребител автоматично се задължава да спазва условията, описани по-долу.</p>
<p>Настоящият документ съдържа информация за дейността на „podaracitebg.com” и общите условия за ползване на услугите,
    предоставяни от "podaracitebg.com”, като уреждат отношенията между нас и всеки един от потребителите ни.</p>
<p>Потвърждаването на Общите условия е необходимо и задължително условие за сключването на договора между Потребителя и
    „podaracitebg.com”.</p>
<p>ПРЕДОСТАВЯНИ УСЛУГИ</p>
<p>Чл. 1 Услугите, предоставяни от „podaracitebg.com” на Потребителя, представляват услуги на информационното общество
    по смисъла на Закона за електронната търговия.</p>
<p>Чл. 2.(1) „podaracitebg.com e уеб сайт, чрез който Потребителите имат възможност да сключват договори за
    покупко-продажба на предлаганите от “podaracitebg.com” стоки.</p>
<p>(2) Стоките, предлагани от „podaracitebg.com“ са напълно индивидуализирани спрямо поръчката на Потребителя и не са
    предварително произведени. Дизайните, представени на сайта са примерни и могат да бъдат променяни спрямо Вашите
    желания и интереси.</p>
<p>ИДЕНТИФИКАЦИЯ И РЕГИСТРАЦИЯ. ЛИЧНИ ДАННИ</p>
<p>Чл. 3 (1) „podaracitebg.com” идентифицира Потребителите на сайта чрез съхранение на лог-файлове на сървъра на
    https://podaracitebg.com и на IP адреса на Потребителя.</p>
<p>(2) „podaracitebg.com” има право да събира и използва информация относно Потребителите след извършената от тях
    поръчка. Информацията, чрез която лицето може да бъде идентифицирано, може да включва име, фамилия, адрес, телефон,
    както и всяка друга информация, която лицето предоставя доброволно при извършване на поръчката. Информацията включва
    и всяка друга, която Потребителят въвежда, използва или предоставя при ползване на Услугите, предоставяни от
    „podaracitebg.com”.</p>
<p>Чл. 4 (1) „podaracitebg.com” полага дължимата грижа и отговаря за защита на информацията за Потребителя, станала му
    известна по повод на извършена поръчка - предмет на настоящите Общи условия, освен в случаите на непреодолима сила,
    случайно събитие или злоумишлени действия на трети лица.</p>
<p>(2). Във формата, попълвана от Потребителя при извършване на поръчка, „podaracitebg.com” обозначава задължителния или
    доброволния характер на предоставяне на данните и последиците от отказ за предоставянето им. С изразяване на
    съгласие с настоящите Общи условия Потребителят се съгласява информацията за него да бъде обработвана по предвидения
    в тях ред.</p>
<p>(3) Ограниченията по ал. 1 не се прилагат в случай, че за “podaracitebg.com” възникне задължение да предостави
    личната информация за Потребителя на съответните компетентни държавни органи съгласно действащото законодателство.
</p>
<p>Чл. 5 (1) „podaracitebg.com” събира и използва информацията  за целите, предвидени в настоящите Общи условия, както и
    за предлагане на нови стоки и/или услуги на Потребителя (безплатни или платени).</p>
<p>(2) С приемането на настоящите Общи условия Потребителят се съгласява с обработването на личните му данни за целите
    на настоящия договор и директния макретинг.</p>
<p>.</p>
<p>ПОРЪЧКА</p>
<p>Чл. 6 (1) Потребителите използват интерфейса на уебсайта на „podaracitebg.com”, за да сключват договори за
    покупко-продажба на предлаганите от „podaracitebg.com” стоки в уеб сайта.</p>
<p>(2) Договорът за покупко-продажба на стока се счита за сключен от момента на потвърждаването на поръчката от
    „podaracitebg.com”  след завършване на поръчката.</p>
<p>(3) При липса на наличност от дадена стока „podaracitebg.com“ си запазва правото да откаже поръчката.</p>
<p>Чл. 7 (1) За извършване на успешна поръчка, Потребителят преминава през следните стъпки:</p>
<p>1. Избира вида на продукта</p>
<p>2. Прикачва снимка/и и/или текст спрямо вида на продукта.</p>
<p>3. Добавя стоката в количката и за да завърши поръчката, натиска бутон „Приключване на поръчката“.</p>
<p>4. Попълва си данните (две имена, телефон за връзка, офис на ЕКОНТ или СПИДИ или  адрес).</p>
<p>5. Натиснете бутона "ПОРЪЧВАНЕ" , за да финализирате поръчката.</p>
<p>(2) При завършване на поръчката се визуализира надпис: "Поръчката Ви беше приета успешно!".</p>
<p></p>
<p>ЦЕНИ</p>
<p>Чл. 8 (1) Цените на продуктите, предлагани в онлайн магазина, са тези, посочени на уебсайта на „podaracitebg.com” към
    момента на извършване на поръчка, освен в случаи на очевидна грешка.</p>
<p>(2) Цените на продуктите включват ДДС, в случаите, в които е предвидено начисляването му.</p>
<p>Чл. 9 „podaracitebg.com” си запазва правото да променя по всяко време и без предизвестие цените на предлаганите в уеб
    сайта продукти, като такива промени няма да засягат вече извършени поръчки.</p>
<p>Чл. 10 (1) „podaracitebg.com” може да предоставя отстъпки за продуктите, предлагани в уеб сайта, съгласно българското
    законодателство и правила.Правилата, приложими за такива отстъпки, са налични на мястото, където е показана
    отстъпката. Отстъпки могат да се предоставят под различни форми (напр. промоции, отстъпки за лоялност, предоставяни
    индивидуално, на случаен принцип или в резултат на участие в състезание или клиентско проучване).</p>
<p>(2) Различните видове отстъпки не могат да се комбинират при поръчка и закупуване на една и съща стока.</p>
<p>ПЛАЩАНЕ</p>
<p>Чл. 11 Когато Потребителят връща продукт с правото на възстановяване на заплатената сума поради каквато и да било
    причина, цената, обект на възстановяване, се намалява със стойността на получената отстъпка, приложена върху
    продукта, и само действително платената сума подлежи на възстановяване.</p>
<p>Чл. 12 (1) На https://podaracitebg.com/ е възможно плащане само чрез наложен платеж.</p>
<p>(2) Потребителят трябва да заплати цената на поръчаните артикули заедно с цената за доставка на куриера при
    получаването на стоката.</p>
<p>ДОСТАВКА</p>
<p>Чл. 13 (1) Доставката на поръчаните стоки се осъществява чрез куриер до посочен от Потребителя офис или адрес за
    доставка на територията на Република България. Доставката е за сметка на Потребителя, освен ако противното не е
    изрично указано на https://podaracitebg.com/ .</p>
<p>(2) Преди изпращане на поръчаната стока, „podaracitebg.com” има право да се свърже с Потребителя на посочения от него
    телефон, с цел уточняване на детайли за поръчката и/или доставката.</p>
<p>(3) „podaracitebg.com“ не носи отговорност за неизпълнение на поръчка в случаите, когато Потребителят е посочил
    неверни, непълни и/или неточни лични данни, включително, когато е посочил непълен, неточен или фиктивен адрес или
    телефон.</p>
<p>(4) В случай че Потребителят е поръчал стока, която не е взел или приел от куриера, той дължи обезщетение на
    „podaracitebg.com“ за направените разноски. Срокът на престой на пратка в офис на Еконт е 7  работни дни от датата
    на получаване, а разносът до адрес се осъществява  2 пъти. Ако Потребителят не приеме пратката в тези срокове,
    podaracitebg.com  си запазва правото да откаже по нататъшни поръчки от този Потребител.</p>
<p>Чл. 14 (1) Доставките се осъществяват от 24 до 48 часа след завършване на поръчката или в зависимост от графика за
    доставки на куриерската фирма до съответното населено място.</p>
<p>(2). При извънредни обстоятелства „podaracitebg.com” си запазва правото да удължава срока за доставка, като
    своевременно информира за това Потребителя.</p>
<p>Чл. 15 Поръчаните стоки се доставят срещу подпис.</p>
<p>Чл. 16  Потребителят е длъжен да прегледа стоката в момента на доставката ѝ и да уведоми незабавно при установени
    несъответствия, липси и повреди. Ако Потребителят не стори това, се приема, че доставката е приета без възражения.
</p>
<p>Чл. 17 (1) При извършване на международни доставки, приложими са правилата за доставка и получаване на пратки на
    съответната национална пощенска служба, както и на съответното национално законодателство на държавата, в която се
    намира получателят на стоките.</p>
<p>(2) Всички импортни такси при внасянето на стоката са за сметка на Потребителя. Потребителят не може да иска
    възстановяване на цената, ако е отказал да плати импортните такси или да получи пратката.</p>
<p>ОТКАЗ ОТ ДОГОВОРА И ЗАМЯНА</p>
<p>Чл. 18 (1) Потребителят няма право да се откаже от договора в случай че предмет на същия са: стоки, изработени по
    индивидуална поръчка на потребителя каквито са всички стоки  в уеб сайта podaracitebg.com</p>
<p>Съгласно чл. 57, т. 3 от ЗЗП, за същите Потребителят не може да упражни право на отказ (връщане в 14-дневен срок)</p>
<p> </p>
<p>ГАРАНЦИИ И РЕКЛАМАЦИЯ</p>
<p>Чл. 19 (1) Потребителят има право на рекламация за всяко несъответствие на стоката с договореното/поръчаното, когато
    след доставката, са открити несъответствия с договора за продажба.</p>
<p>(2) Потребителят няма право на рекламация, ако е поръчал размер тениска, който не е подходящ за него. </p>
<p>Чл. 20 Всяко несъответствие на потребителската стока с договора за продажба, което се прояви до 6 месеца след
    доставянето на стоката, се смята, че е съществувало при доставянето ѝ, освен ако се докаже, че липсата на
    съответствие се дължи на естеството на стоката или на характера на несъответствието.</p>
<p>Чл. 21 Потребителят не може да оспори съответствието на потребителската стока с договора за продажбата ѝ, когато при
    сключването на договора е знаел или не е могъл да не знае за несъответствието;</p>
<p>Чл. 22 (1) Потребителят има право да предяви рекламация на стоката, независимо от това дали производителят или
    търговецът е предоставил търговска гаранция на стоката или услугата.</p>
<p>(2) Когато удовлетворяването на рекламацията се извършва чрез замяна на стоката с друга, съответстваща на
    договореното, „podaracitebg.com“ ще запази на потребителя първоначалните гаранционни условия.</p>
<p>Чл. 23 (1) При предявяване на рекламацията на стока потребителят може да претендира за възстановяване на заплатената
    сума, за заменяне на стоката с друга, съответстваща на договореното или за отбив от цената.</p>
<p>(2) Рекламацията се подава чрез посочения имейл.</p>
<p>(3). При предявяване на рекламация потребителят посочва предмета на рекламацията, предпочитания от него начин за
    удовлетворяване на рекламацията, съответно размера на претендираната сума, адрес, телефон и email за контакт.</p>
<p>(4) При подаване на рекламация потребителят задължително следва да приложи и документите, на които се основава
    претенцията, а именно:</p>
<p>касова бележка или фактура;</p>
<p>2. протоколи, актове или други документи, установяващи несъответствието на стоката или услугата с договореното;</p>
<p>3. други документи, установяващи претенцията по основание и размер.</p>
<p>Чл. 24 „podaracitebg.com“ при основателна рекламация привежда стоката в съответствие с договора за продажба в рамките
    на един месец, считано от предявяването на рекламацията от Потребителя.</p>
<p>Чл. 25 (1) При несъответствие на потребителската стока с договора за продажба и когато Потребителят не е удовлетворен
    от решаването на рекламацията, той има право на избор между една от следните възможности:</p>
<p>1. разваляне на договора и възстановяване на заплатената от него сума;</p>
<p>2. намаляване на цената.</p>
<p>(2) Потребителят не може да претендира за възстановяване на заплатената сума или за намаляване цената на стоката,
    когато търговецът се съгласи да бъде извършена замяна на потребителската стока с нова или да се поправи стоката в
    рамките на един месец от предявяване на рекламацията от потребителя.</p>
<p>(3) Търговецът е длъжен да удовлетвори искане за разваляне на договора и да възстанови заплатената от потребителя
    сума, когато след като е удовлетворил три рекламации на потребителя чрез извършване на ремонт на една и съща стока,
    в рамките на срока на гаранцията, е налице следваща поява на несъответствие на стоката с договора за продажба.</p>
<p>(4) Потребителят не може да претендира за разваляне на договора, ако несъответствието на потребителската стока с
    договора е незначително.</p>
<p>ЕДНОСТРАННО ПРЕКРАТЯВАНЕ</p>
<p>Чл. 26 „podaracitebg.com” има право по свое усмотрение, без да отправя предизвестие да прекрати едностранно договора,
    в случай че установи, че предоставяните услуги се използват в нарушение на настоящите общи условия,
    законодателството на Република България и общоприетите нравствени норми.</p>
<p>ПРЕКРАТЯВАНЕ И РАЗВАЛЯНЕ НА ДОГОВОРА</p>
<p>Чл. 27 Освен в случаите, предвидени в настоящите Общи условия, договорът между страните се прекратява и при
    преустановяване на дейността на „podaracitebg.com” или прекратяване поддържането на уебсайта му.</p>
<p>Чл. 28 Извън посочените по-горе случаи, всяка от страните може да развали настоящия договор с отправяне на
    едноседмично предизвестие до другата страна в случай на неизпълнение на задълженията по договора.</p>
<p>Чл. 29 Писмената форма на договора се счита спазена с изпращане на съобщение на електронна поща (e-mail).</p>
<p>ОРГАНИ РЕГУЛИРАЩИ ДЕЙНОСТТА</p>
<p>Чл. 30 Органите, регулиращи дейността на „podaracitebg.com“ са Комисия за защита на потребителя /КЗП/ и Комисия за
    защита на личните данни (КЗЛД), със следните координати:</p>
<p>За КЗП:</p>
<p>Уебсайт: https://kzp.bg/kontakti</p>
<p>тел: 0700 111 22</p>
<p>email: info@kzp.bg</p>
<p>адрес: гр. София, пл. Славейков, №4А, ет. 3, 4 и 6</p>
<p>За КЗЛД:</p>
<p>Уебсайт: https://www.cpdp.bg/</p>
<p>тел: 02/91-53-518</p>
<p>email: kzld@cpdp.bg</p>
<p>адрес: София 1592, бул. „Проф. Цветан Лазаров” № 2</p>
<p>СПАСИТЕЛ НА КЛАУЗА</p>
<p>Чл. 31 Страните декларират, че, в случай че някоя/и от клаузите по настоящите Общи условия се окаже/окажат
    недействителна/и, това няма да влече недействителност на целия договор или на други негови части. Недействителната
    клауза ще бъде заместена от повелителните норми на закона или установената практика.</p>
<p>ИЗМЕНЕНИЕ НА ОБЩИТЕ УСЛОВИЯ</p>
<p>Чл. 32 (1) „podaracitebg.com” се задължава да уведоми Потребителите за всяко изменение в настоящите общите условия в
    7-дневен срок от настъпването на това обстоятелство на уеб сайта www.podaracitebg.com.</p>
<p>(2) Когато не е съгласен с измененията в общите условия, Потребителят има право да се откаже от договора, без да
    посочва причина и без да дължи обезщетение или неустойка. За да упражни това си право, Потребителят следва да
    уведоми „podaracitebg.com” в срок от един месец от получаването на съобщението по предходната алинея.</p>
<p>(3) В случай че Потребителят не упражни правото си да се откаже от договора по реда, уреден в настоящите общи
    условия, се счита, че изменението е прието от Потребителя без възражения.</p>
<p>ПРИЛОЖИМО ПРАВО</p>
<p>Чл. 33 По всички неуредени от настоящите Общи условия въпроси се прилагат разпоредбите на действащото законодателство
    на Република България.</p>
<p>Потребителите могат да използват Европейската платформа за онлайн решаване на спорове (ОРС), достъпна на
     http://ec.europa.eu/odr / - единен портал за достъп, който позволява на потребителите и търговците в ЕС да уреждат
    възникналите споровете помежду си.</p>
<p>Стандартен формуляр за упражняване правото на отказ от договора:</p>
<p>(попълнете и изпратете настоящия формуляр единствено ако желаете да се откажете от договора)</p>
<p>До
    ……………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………….
</p>
<p>С настоящото уведомявам/e, че се отказваме от сключения от мен/нас договор за покупка на следните стоки/ за
    предоставяне на следната услуга:
    ……………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………….
</p>
<p>Поръчано на/получено на - ……………………………………………………………………………………………………</p>
<p>Име на потребителя/ите – ………………………………………………………………………………………………………</p>
<p>Адрес на потребителя/ите - ………………………………………………………………………………………………………</p>
<p>Подпис на потребителя/ите: ……………………………………………….</p>
<p>(само в случай, че настоящият формуляр е на хартия)</p>
<p>Дата: ……………………………………………</p>
<p>Стандартен формуляр за упражняване правото на рекламация:</p>
<p>До
    ……………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………….
</p>
<p>С настоящото уведомявам/e, че открих несъответствие на стоката/ите/ услугата/ите с договореното.</p>
<p>Предмет на рекламацията:</p>
<p>………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………………
</p>
<p>Поръчано на/получено на - ……………………………………………………………………………………………………</p>
<p>Предпочитан начин на удовлетворение за стоки</p>
<p>Възстановяване на платената сума</p>
<p>Заменяне на стоката с друга, съответстваща на договореното</p>
<p>Отбив от цената</p>
<p>Безплатно извършване на ремонт по реда на чл. 113 и 114 от Закона за защита на потребителите</p>
<p>(заградете желаната опция)</p>
<p>Предпочитан начин на удовлетворение за услуги:</p>
<p>Извършване на услугата в съответствие с договора</p>
<p>Отбив от цената</p>
<p>Възстановяване на заплатената сума</p>
<p>(заградете желаната опция)</p>
<p>Прилагам следните документи:</p>
<p>касова бележка или фактура;</p>
<p>протоколи, актове или други документи, установяващи несъответствието на стоката или услугата с договореното;</p>
<p>други документи, установяващи претенцията по основание и размер.</p>
<p>(заградете желаната опция)</p>
<p>Размер на претендираната сума: ……………………………..</p>
<p>Име на потребителя/ите – ………………………………………………………………………………………………………</p>
<p>Адрес на потребителя/ите - ………………………………………………………………………………………………………</p>
<p>Подпис на потребителя: ……………………………………………….</p>
<p>(само в случай, че настоящият формуляр е на хартия)</p>
<p>Дата: ……………………………………………