@{
    this.ViewData[GlobalConstants.Title] = "Политика на поверителност";
}

<p>Политика на поверителност</p>
<p>Молим да прочетете внимателно политиката на поверителност. В случай, че имате въпроси, осъществете контакт с нас чрез
    един от посочените в уеб сайта начини. Ако не сте
<p>съгласен с някои от условията, съдържащи се в политиката за защита на личните данни, молим да не използвате нашия уеб
    сайт и да не предоставяте личните си данни. </p>
<p>Дефиниции</p>
<p> </p>
<p>Админитратор – "Алекс Дизайн" ЕООД наричан по-долу продавач или “podaracitebg.com”</p>
<p>Потребител – физическо лице на или над 18 години, юридическо лице или друго правно образувание, което прави поръчка
    чрез уеб сайта ‘’podaracitebg.com’’ и сключва
<p>договор за покупко-продажба от разстояние.</p>
<p>Лични данни - всяка информация, свързана с идентифицирано физическо лице или физическо лице, което може да бъде
    идентифицирано; физическо лице, което може да бъде
<p>идентифицирано, е лице, което може да бъде идентифицирано, пряко или непряко, по-специално чрез идентификатор като
    име, идентификационен номер, данни за
<p>местонахождение, онлайн идентификатор или по един или повече признаци, специфични за физическата, физиологичната,
    генетичната, психическата, умствената, икономическата,
<p>културната или социална идентичност на това физическо лице.</p>
<p>Обработване на лични данни - всяка операция или съвкупност от операции, извършвана с лични данни или набор от лични
    данни чрез автоматични или други средства като
<p>събиране, записване, организиране, структуриране, съхранение, адаптиране или промяна, извличане, консултиране,
    употреба, разкриване чрез предаване, разпространяване или
<p>друг начин, по който данните стават достъпни, подреждане или комбиниране, ограничаване, изтриване или унищожаване.
</p>
<p>Информация за администратор - "Aлекс Дизайн“ ЕООД е дружество, регистрирано по Търговския закон на Република България
    с ЕИК 206530413, със седалище и адрес на
<p>управление: гр. Пловдив, ул. Победа 64, адрес на управление на дейността: гр. Пловдив ул. Победа 64; имейл адрес:
    podaracitebg@gmail.com</p>
<p>Цели и обхват на политиката за поверителност. Информация, принципи, срокове за съхранение, мерки за сигурност, права
    на потребителите: </p>
<p>С приемането на настоящите условия ползвателят дава безсрочното си изрично и безусловно съгласие, до евентуалната му
    изрична писмена отмяна, предоставените от него
<p>лични данни да бъдат събирани, съхранявани, обработвани и използвани от "Aлекс Дизайн" ЕООД и упълномощени от него
    трети лица за целите на коректното изпълнение на
<p>договора за продажба от разстояние и доставка на поръчаната стока, за бизнес анализи с цел подобряване на услугите,
    предоставяни от "Алекс Дизайн" ЕООД ,както и за
<p>всякакви други цели, разрешени от закона.</p>
<p> </p>
<p>Личните данни, които "Алекс Дизайн" ЕООД събира задължително от клиентите си, във връзка с обработване и доставка на
    поръчките им, са посочени в Кошницата при поръчка –
<p>име и фамилия на получател, телефон за обратна връзка, адреси (на офис на ЕКОНТ, СПИДИ или друг адрес за доставка).
    Данните и личната информация, предоставена от
<p>Клиенти, се използват от "Алекс Дизайн" ЕООД  единствено за управление на поръчки, за доставка на продукти и услуги,
    за обработка на плащания, за комуникиране с
<p>Клиентите относно поръчки, продукти, и услуги.</p>
<p>"Алекс Дизайн" ЕООД съблюдава следните принципи при обработване на личните данни - законосъобразност; добросъвестност
    и прозрачност; съотносимост на обработката с
<p>целите; точност и актуалност; свеждане на данните до минимум; ограничение на съхранението; отчетност; цялостност и
    поверителност;</p>
<p>Срокът за съхранение на лични данни е в рамките на 5 години, след което биват унищожени. Потребителят си запазва
    правото да поиска в писмен вид преждевременно
<p>унищожаване на личните му данни.</p>
<p>Предоставянето на личните данни е напълно доброволно от страна на клиента и той може по всяко време да получи
    информация за използването и обработването на личните му
<p>данни.</p>
<p>"Алекс Дизайн" ЕООД обработва личните данни еднолично и не предоставя лични данни на потребителите си на трети лица,
    извън изрично предвидените в закона случаи и
<p>предприема всички необходими мерки за тяхната защита.</p>
<p>"Алекс Дизайн" ЕООД няма достъп до картови данни, както и до автентикационните данни при разплащане с кредитна или
    дебитна карта или чрез сметка в ePay.bg, и по никакъв
<p>начин не ги регистрира или съхранява. Достъп до тях имат съответно банката-издател на карата на клиента, ePay.bg и
    Банковата организация за разплащане с използване на
<p>карти в България - Борика. Те гарантират сигурността на данните на клиента. "Алекс Дизайн" ЕООД  няма да изисква по
    телефон или по и-мейл да разкривате пароли и номера
<p>на кредитната/ дебитната си карта! "Алекс Дизайн" ЕООД  няма да изисква да разкриете данни от Вашата банкова сметка
    или друга лична информация. Всяко подобно искане по
<p>телефон или по имейл следва да бъде игнорирано!</p>
<p> </p>
<p>Информация за надзорния орган: </p>
<p> </p>
<p>КЗЛД:</p>
<p>Уебсайт: https://www.cpdp.bg/</p>
<p>тел: 02/91-53-518</p>
<p>email: kzld@cpdp.bg</p>
<p>адрес: София 1592, бул. „Проф. Цветан Лазаров” № 2</p>
<p></p>
<p>Автентичен имейл на "Алекс Дизайн" ЕООД  за обратна връзка е единствено “ podaracitebg@gmail.com ”</p>
<p>Не са автентични имейли от "Алекс Дизайн" ЕООД, които Ви насочват към сайт, различен от . podaracitebg@gmail.com .
</p>