@using EShop.Web.ViewModels.Products
@model IEnumerable<TemplateSelectModel>

<div class="form-group">
    <label asp-for="@Model.FirstOrDefault().Name"></label>
    <select name="TemplatesIds"
            class="form-select"
            multiple
            asp-items="@(new SelectList(Model, nameof(TemplateSelectModel.Id), nameof(TemplateSelectModel.Name)))">
    </select>
</div>