@model IEnumerable<SelectViewModel>

<div class="card">
    <div class="card-header">Категории</div>
    <div class="card-body">
        @foreach (var category in this.Model)
        {
            <span class="badge bg-danger" style="margin-top: 2px">
                <a class="category-style"
                   asp-area=""
                   asp-controller="@GlobalConstants.ProductsController"
                   asp-action="@GlobalConstants.AllAction"
                   asp-route-id="1"
                   asp-route-categoryId="@category.Id">@category.Name</a>
            </span>
        }
    </div>
</div>

