@model EShop.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}

<ul class="ul">
    <li><a asp-area="Administrator" asp-controller="Templates" asp-action="All">Templates</a></li>
    <li><a asp-area="Administrator" asp-controller="Products" asp-action="All">Products</a></li>
</ul>
