@model IEnumerable<SelectViewModel>

    
@foreach(var category in this.Model)
{
     <a class="dropdown-item" 
     asp-area="" 
     asp-controller="@GlobalConstants.TemplatesController" 
     asp-action="@GlobalConstants.AllAction"
     asp-route-categoryId="@category.Id"
     asp-route-id="1">@category.Name</a>
}