@model ProductInputModel

@{
    this.ViewData["Title"] = "Add Product";
}

<div class="text-center">
    <h1>
        @this.ViewData["Title"]
    </h1>

    <form asp-area="Administration" asp-controller="Products" asp-action="Add" enctype="multipart/form-data" class="col-lg-6 offset-lg-3">
        <div class="form-grup">
            <span asp-validation-for="Name" class="text-danger"></span>
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" placeholder="Име на темплейта..." />
        </div>
        <div class="form-grup has-danger">
            <span asp-validation-for="Description" class="text-danger"></span>
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control" placeholder="Описание на темплейта..."></textarea>
        </div>
        <div class="form-grup">
            <span asp-validation-for="Price" class="text-danger"></span>
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control" type="number" placeholder="Цена на темплейта..." />
        </div>
        <div class="form-grup">
            <span asp-validation-for="Image" class="text-danger"></span>
            <label asp-for="Image"></label>
            <input asp-for="Image" class="form-control" placeholder="Снимка на темплейта..." />
        </div>
        <div class="form-grup">
            <span asp-validation-for="HasCustomText" class="text-danger"></span>
            <label asp-for="HasCustomText"></label>
            <input asp-for="HasCustomText" type="checkbox" />
        </div>

        <vc:product-categories-select></vc:product-categories-select>

        <vc:template-select></vc:template-select>

        <div class="form-grup" style="margin-top: 2%;">
            <input type="submit" class="btn btn-outline-dark" value="Add" />
        </div>
    </form>
</div>
