@model ProductEditModel

@{
    this.ViewData["Title"] = "Edit Product";
}

<div class="text-center">
    <h1>
        @this.ViewData["Title"]
    </h1>

    <form asp-area="Administration" asp-controller="Products" asp-action="Edit" enctype="multipart/form-data" class="col-lg-6 offset-lg-3">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-grup">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" placeholder="Template name..." />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-grup has-danger">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control" placeholder="Template description..."></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-grup">
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control" placeholder="Template price..." />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
         <div class="form-grup">
            <label asp-for="Image"></label>
            <input asp-for="Image" class="form-control" placeholder="Carbohydrates for 100 grams..." />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="form-grup">
            <label asp-for="HasCustomText"></label>
            <input asp-for="HasCustomText" type="checkbox" />
            <span asp-validation-for="HasCustomText" class="text-danger"></span>
        </div>

        <vc:product-categories-select></vc:product-categories-select>

        <vc:template-select></vc:template-select>

        <div class="form-grup" style="margin-top: 2%;">
            <input type="submit" class="btn btn-outline-dark" value="Add" />
        </div>
    </form>
</div>
