@model ProductEditModel

@{
    this.ViewData["Title"] = "Редактирай продукта";
}

<div class="text-center">
    <h1>
        @this.ViewData["Title"]
    </h1>

    <form asp-area="Administration" asp-controller="Products" asp-action="Edit" enctype="multipart/form-data" class="col-lg-6 offset-lg-3 spinner-form">
        <div class="form-grup m-1">
            <span asp-validation-for="Name" class="text-danger"></span>
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control inputHover" placeholder="Име на продукта..." />
        </div>
        <div class="form-grup m-1">
            <span asp-validation-for="Description" class="text-danger"></span>
            <label asp-for="Description"></label>
            <textarea asp-for="Description" id="editor" class="form-control inputHover" placeholder="Описание на продукта..."></textarea>
        </div>
        <div class="form-grup m-1">
            <span asp-validation-for="Image" class="text-danger"></span>
            <label asp-for="Image"></label>
            <input asp-for="Image" class="form-control" placeholder="Снимка на продукта..." />
        </div>
        <div class="form-grup m-1">
            <span asp-validation-for="Image" class="text-danger"></span>
            <label asp-for="SecondImage"></label>
            <input asp-for="SecondImage" class="form-control" placeholder="Снимка на продукта..." />
        </div>
        <div class="form-grup m-1">
            <span asp-validation-for="Image" class="text-danger"></span>
            <label asp-for="ThirdImage"></label>
            <input asp-for="ThirdImage" class="form-control" placeholder="Снимка на продукта..." />
        </div>
        <div class="form-grup d-inline-block m-1">
            <span asp-validation-for="HasCustomText" class="text-danger"></span>
            <label asp-for="HasCustomText"></label>
            <input asp-for="HasCustomText" type="checkbox" />
        </div>
        <div class="form-grup d-inline-block m-1">
            <span asp-validation-for="HasFontStyle" class="text-danger"></span>
            <label asp-for="HasFontStyle"></label>
            <input asp-for="HasFontStyle" type="checkbox" />
        </div>
        <div class="form-grup m-1">
            <span asp-validation-for="ImagesCount" class="text-danger"></span>
            <label asp-for="ImagesCount"></label>
            <div class="center-element">
                <input asp-for="ImagesCount" class="rounded border-warning border-5" type="number" />
            </div>
        </div>
        <div class="form-grup m-1">
            <span asp-validation-for="Price" class="text-danger"></span>
            <label asp-for="Price"></label>
            <div class="center-element">
                <input asp-for="Price" class="rounded border-warning border-5" type="number" />
            </div>
        </div>
        <div class="form-grup m-1">
            <label>Категория</label>
            <select name="CategoryId" class="form-select">
                <vc:categories-select is-for-products="true"></vc:categories-select>
            </select>
        </div>

        <div class="form-grup m-1 form-button">
            <input type="submit" class="btn btn-danger" value="Редактирай" />
        </div>
    </form>
</div>
