a {
    text-decoration: none;
}

.category-style {
    font-size: 15px;
}

    .category-style:hover {
        --bs-bg-opacity: 100;
        color: rgba(var(--bs-dark-rgb))
    }

input[type="number"] {
    width: 70px;
    height: 40px;
    text-align: center;
    display: block;
    margin-top: 10px;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center-element {
    display: flex;
    justify-content: center;
}

.right-element {
    display: flex;
    justify-content: right;
}

.details-desc-size {
    font-size: 18px;
}

.cardHover:hover {
    background-color: darkorange;
}

.cardHoverDetails:hover {
    background-color: purple;
}

.cardHoverAdmin:hover {
    background-color: darkred;
}

.inputHover:hover {
    background-color: white;
    color: black;
}

.btnHover:hover {
    --bs-btn-color: #fff;
    --bs-btn-bg: #41d7a7;
    --bs-btn-border-color: #41d7a7;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #37b78e;
    --bs-btn-hover-border-color: #34ac86;
    --bs-btn-focus-shadow-rgb: 94,221,180;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #34ac86;
    --bs-btn-active-border-color: #31a17d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #41d7a7;
    --bs-btn-disabled-border-color: #41d7a7
}

.counter-box {
    display: block;
    /*background: #ffffff;*/
    padding: 40px 20px 37px;
    text-align: center;
    border: outset;
}

    .counter-box p {
        margin: 5px 0 0;
        padding: 0;
        /*color: #909090;*/
        font-size: 18px;
        font-weight: 500
    }

    .counter-box i {
        font-size: 60px;
        margin: 0 0 15px;
        /*color: #d2d2d2*/
    }

.counter {
    display: block;
    font-size: 32px;
    font-weight: 700;
    /*color: #666;*/
    line-height: 28px
}

.counter-box.colored {
    background: #3acf87
}

    .counter-box.colored p,
    .counter-box.colored i,
    .counter-box.colored .counter {
        color: #fff
    }


/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.img-mix-blend {
    mix-blend-mode: darken;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.icon-size {
    font-size: 500%;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 7cm;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 27px; /* Vertically center the text there */
}

/*-----------------------*/
/*Carosel*/
.carousel-inner {
    display: flex;
}

.carousel-inner {
    padding: 1em;
}

.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}

.carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
}

@media (max-width: 520px) {
    .carousel-item {
        margin-right: 0;
        flex: 0 0 100%;
        display: block;
    }
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}


.card .img-wrapper {
    max-width: 100%;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    max-height: 100%;
}
