@model OrderItemViewComponentModel

<div class="col-lg-5 text-center">
    <h4>
        Моля, попълнете всички полета
    </h4>

    <form asp-area="" asp-controller="Cart" asp-action="AddItem" enctype="multipart/form-data" oninput="isValid()">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" name="returnUrl" value="@this.Model.ReturnUrl" />

        @if (this.Model.HasCustomText)
        {
            <div class="form-grup">
                <label asp-for="OrderInfo.Description"></label>
                <textarea asp-for="OrderInfo.Description" class="form-control inputHover" name="Description" placeholder="Вашият текст тук..." rows="5" cols="5"></textarea>
                <span asp-validation-for="OrderInfo.Description" class="text-danger"></span>
            </div>

            @if (this.Model.HasFontStyle)
            {
                <div class="form-grup mt-2">
                    <label asp-for="OrderInfo.FontStyle"></label>
                    <label asp-for="OrderInfo.FontStyle"> - <a href="https://res.cloudinary.com/beshev/image/upload/v1662290459/E-shop/templates/301015808_768770797700753_2492550915792899201_n_m0jlmu.jpg" target="_blank">избетере от тук</a></label>
                    <input asp-for="OrderInfo.FontStyle" class="form-control inputHover" name="FontStyle" type="number" />
                    <span asp-validation-for="OrderInfo.FontStyle" class="text-danger"></span>
                </div>
            }
        }

        @for (var i = 0; i < Model.ImagesCount; i++)
        {
            <input type="file" name="Images" class="form-control mt-2">
        }

        <div class="form-grup mt-2">
            <label asp-for="OrderInfo.Quantity"></label>
            <input asp-for="OrderInfo.Quantity" class="form-control inputHover" name="Quantity" type="number" />
            <span asp-validation-for="OrderInfo.Quantity" class="text-danger"></span>
        </div>

        <div class="form-grup" style="margin-top: 2%;">
            <input id="submitButton" type="submit" class="btn btn-warning btnHover" value="Добави в количката" disabled />
        </div>
    </form>
</div>